.categories-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.categories-nav .categories-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding: 0;
}

.skill-item {
    min-width: 300px;
    margin: 1em;
}

.skill-item .skill-card {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #C62828;
    border-radius: 10px;
    background-color: #1E1E1E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.skill-item .skill-card .skill-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 0;

    .skill-card-icon {
        font-size: 6em;
    }

    .skill-card-title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.skill-item .skill-card .skill-card-content {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 0.5em;
    padding-bottom: 2em;

    .skill-level {
        font-size: 1.2em;
        text-align: center;
    }
}

.skill-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .skill-card-btn {
        background-color: #C62828;
        color: #1E1E1E;
        border: none;
        border-radius: 0;
        padding: 0.5em 1em;
        font-size: 1.4em;
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}


.skill-item .skill-card[class*="card-active"] {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    width: 100% !important;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden !important;

    .skill-card-content {
        overflow-y: auto;
    }

    .skill-card-footer {
        display: none;
    }
}