.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #171717), url("../CSS/IMAGES/dovednostiHero.webp");
    background-color: transparent !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 110px);
}

hr {
    display: none;
}

.categories-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.categories-nav .categories-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding: 0;
}

.skill-item {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-item .skill-card {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    border: 1px solid #C62828;
    border-radius: 10px;
    background-color: #1E1E1E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.skill-item .skill-card .skill-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 0;

        .skill-card-close-btn{
            display: none;
    }

    .skill-card-icon {
        font-size: 6em;
    }

    .skill-card-title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .skill-level {
        font-size: 1.2em;
        text-align: center;
        margin: 1em;
    }
}

.skill-item .skill-card .skill-card-content {
    display: none;
    flex-direction: column;
    vertical-align: top;
    padding: 0.5em;
    padding-bottom: 2em;
}

.skill-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .skill-card-btn {
        background-color: #C62828;
        color: #1E1E1E;
        border: none;
        border-radius: 0;
        padding: 0.5em 1em;
        font-size: 1.4em;
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}


.skill-item .skill-card[class*="card-active"] {
    z-index: 1;

        .skill-card-close-btn{
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 2em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
    }

    hr {
        display: block;
        width: 100%;
        border: 1px solid #C62828;
        margin-bottom: 1em;
    }

   /* .skill-card-content {
        display: block;
        overflow-y: auto;
        animation: card-content-fade-in 2s ease-in-out;
    }*/

    .skill-card-footer {
        display: none;
    }

    .skills-list-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        .skills-list-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}


@keyframes card-content-fade-in {
    from {
        height: 0;
        overflow-y: hidden;
    }
    to {
        height: 100%;
        overflow-y: auto;
    }
}

@keyframes expanded-card {
}
