hr {
    width: 100%;
    border: 1px solid #C62828;
    margin-bottom: 1em;
}

.hr-sm{
    display: none;
}

.page-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #C62828;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    padding-top: 3em;
    padding-bottom: 3em;

    border: 1px solid #C62828;
    border-radius: 10px;
    background-color: #1E1E1E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
        transform: translateY(-1px);
        transition: all 0.3s ease-in-out;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 100%;
}

.text-container form {
    display: flex;
    flex-direction: column;
    width: 100%;

    /* input,
    textarea {
        margin-bottom: 1em;
        padding: 0.5em;
        border: 1px solid #C62828;
        border-radius: 5px;
        background-color: #1E1E1E;
        color: #F5F5F5;
        transition: all 0.3s ease-in-out;

        &:focus {
            transform: translateX(10px);
            transition: all 0.3s ease-in-out;

        } */
    label {
        margin-bottom: 0.5em;
    }
}

.contacts-container .contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts-container .contacts-list li {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;

    &:hover {
        i {
            transform: scale(1.2) translateY(-5px);
            transition: all 0.3s ease-in-out;
            color: #C62828;
        }

        a {
            color: #C62828;

            transition: all 0.3s ease-in-out;
        }
    }
}

.contacts-container .contacts-list li a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-color: #C62828;
}

.icon {
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 567.98px) {
    
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .container .hr-sm{
        display: flex;
    }

    .columns {
        width: 100%;
        flex-direction: column;
        padding: 1em;
        margin: 0;
        margin-bottom: 1em;
    }

    .text-container .hr-lg{
        display: none;
    }

    .contacts-container .contacts-list li {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }

    .contacts-container .contacts-list li a {
        text-align: center;
    }
}

@media (max-width: 567.98px) {
    .container {
            padding: 0.5em;
            margin: 0;
            border: 0;
            background-color: transparent;
        }

        .columns{
            border: 0;
            background-color: transparent;
            box-shadow: none;
            &:hover{
                box-shadow: none;
                transform: none;
            }
        }

        .contacts-container .contacts-list{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            text-align: start;
            margin-top: 1em;
            padding: 0;
            
        }

        .contacts-container .contacts-list li {
            display: flex;
            flex-direction: row;
            text-align: start;
            margin-bottom: 1.4em;
        }

        .contacts-container .contacts-list li a {
            text-align: start;
            margin-left: 0.5em;
        }

}

@media (min-width: 568px) and (max-width: 767.98px) {
    
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 1024px) {
    .columns {
        width: 70%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        min-height: calc(100vh - 110px);
    }
}



/* Lazy loading styles for cards */
.lazy-loading {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.lazy-loading.loaded {
    opacity: 1;
    transform: translateY(0);
}