#navbarSmMenu {
    display: none;
}

#navbarSmMenuBtn {
    display: none;
}

#navbar {
    height: 50px;
    background-color:  transparent;
    display: flex;
    justify-content: center;
}

#navbarMenu {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    #navbarMenu{
        width: 78%;
    }
}

@media (min-width: 768px)  {

    /* NAVBAR */
    #menuButton {
        display: none;
    }

    #navbar #navbarMenu {
        background-color: transparent;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    #navbar li {
        display: flex;
        position: relative;
    }

    #navbar li a {
        color: var(--text-color);
    }

    .navbar-link {
        text-align: center;
        padding: 14px 20px;
        font-size: 1.2rem;
        text-decoration: none;
        display: block;
    }

    .navbar-link:hover::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 4px;
        background-color: var(--primary-color);
        left: 5%;
        bottom: 5px;
        animation-name: slideUnderlineFromCenter;
        animation-duration: 0.5s;
    }

    .navbar-link[class*="active"]::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 4px;
        background-color: var(--primary-color);
        left: 5%;
        bottom: 5px;
        animation-name: slideUnderlineFromCenter;
        animation-duration: 0.5s;
    }



    @keyframes slideUnderlineFromCenter {
        0% {
            width: 0;
            left: 50%;
        }

        100% {
            width: 90%;
            left: 5%;
        }
    }
}

@media screen and (max-width: 767px) {
    #navbar {
        display: flex;
        justify-content: end;
    }

    #navbar #navbarMenu {
        display: none;
    }

    #navbarSmMenuBtn {
        display: block;
        border: 0;
        padding: 0.5em;
        background-color: transparent;
        color: var(--text-color);
        width: 50px;
        height: 50px;
        cursor: pointer;
        font-size: 1.4em;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        i {
            background-color: transparent;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }
    }

    #navbarSmMenuBtn.active{
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            i{
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            
        }
    }

    #navbarSmMenu {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 999;
        overflow: hidden;
    }

    #navbarSmMenu[class*="active"] {
        display: block;
    }

    #navbarSmMenuHeader {
        display: inline-flex;
        position: relative;
        width: 100%;
        height: 30px;
        padding: 0.5em;
    }

    #navbarSmMenuContent #navbarSmMenuHeader .navbarSmMenuCloseBtn {
        border: 0;
        padding: 0.5em;
        background-color: transparent;
        color: var(--text-color);
        width: 50px;
        height: 50px;
        cursor: pointer;
        font-size: 1.4em;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;

        i {
            background-color: transparent;
        }
    }

    #navbarSmMenuContent {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background-color);
        z-index: 1000;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
    }

    #navbarSmMenuContent[class*="active"] {
        transform: translateX(0);
        transition: all 0.3s ease-in-out;
    }

    #navbarSmMenu #navbarSmMenuContent .sm-menu-list {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    #navbarSmMenu #navbarSmMenuContent .sm-menu-list .sm-menu-item {
        margin-bottom: 5px;
        text-align: left;
        padding-left: 1em;
        width: 100%;
        transition: background-color 0.3s ease-in-out;
    }

    #navbarSmMenu #navbarSmMenuContent .sm-menu-list .sm-menu-item[class*="active"] {
        /* Red background for active menu item */
        background-color: var(--primary-color);

        .sm-menu-link {
            color: var(--text-color);
        }
    }

    #navbarSmMenu #navbarSmMenuContent .sm-menu-list .sm-menu-item .sm-menu-link {
        display: block;
        color: var(--text-color);
        text-decoration: none;
        padding: 10px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 1.2em;
        transition: background-color 0.3s ease-in-out;
    }
}